{{!-- main/schedule/template.hbs --}}
<h2>Schedule</h2>

{{!-- "model" is a single team instance --}}

{{team-schedule games=model.awayGames title="Away Games"}}

{{team-schedule games=model.homeGames title="Home Games"}}

{{outlet}}
